- name: Configure RGW
  hosts: deployment_controller
  any_errors_fatal: true
  tasks:
    - name: Get RGW clients
      shell: ceph auth list | grep ^client.rgw
      register: ceph_rgw_clients

    - name: Configure RGW
      shell: |
        #!/bin/bash

        . /etc/kolla/admin-openrc.sh

        client_name=global

        ceph config set $client_name rgw_keystone_api_version 3
        ceph config set $client_name rgw_keystone_accepted_roles "admin,member"
        ceph config set $client_name rgw_keystone_admin_user ceph_rgw
        ceph config set $client_name rgw_keystone_admin_password $(grep -ir ceph_rgw /etc/kolla/passwords.yml | awk '{print $2}')
        ceph config set $client_name rgw_keystone_admin_domain default
        ceph config set $client_name rgw_keystone_admin_project service
        ceph config set $client_name rgw_s3_auth_use_keystone true
        ceph config set $client_name rgw_keystone_url $OS_AUTH_URL
        ceph config set $client_name rgw_swift_account_in_url true  # used to namespace per project with "AUTH_%(project_id)s"
        ceph config set $client_name rgw_swift_url_prefix swift  # this is used to add "/swift" in url, to distinguish from s3

        # TODO: Fix for when no an aio
        {% for rgw_client in ceph_rgw_clients.stdout_lines %}
        {% set node = rgw_client.split('.')[3] %}
        ceph config set {{ rgw_client }} rgw_frontends "beast endpoint={{ hostvars[node].network_ceph_public_ip | ansible.netcommon.ipaddr('address') }}:6780"
        {% endfor %}

- name: Restart RGW
  hosts: deployment_nodes
  any_errors_fatal: true
  serial: 1
  tasks:
    - shell: sleep 10 && (systemctl | grep ceph-.*@rgw. | awk '{print $1}' | xargs systemctl restart)

- name: Test RGW
  hosts: deployment_controller
  any_errors_fatal: true
  tasks:
    - name: Test object storage
      shell: |
        #!/bin/bash

        . /etc/kolla/admin-openrc.sh

        openstack container list