---
- name: Prepare ceph nodes
  hosts:
    - deployment_controller
    - deployment_nodes
  any_errors_fatal: true
  tasks:
    - name: Install cephadm key
      ansible.builtin.apt_key:
        url: https://download.ceph.com/keys/release.asc

    - name: Install cephadm and ceph-common
      apt:
        pkg: 
          - cephadm
          - ceph-common

    - name: Create ceph directory
      file:
        path: /etc/ceph/
        state: directory

- name: Deploy cephadm
  hosts: deployment_nodes[0]
  any_errors_fatal: true
  tasks:
    - name: Add initial-ceph.conf
      copy: 
        dest: /etc/ceph/initial-ceph.conf
        content: |
          [global]
          osd_pool_default_size = {{ storage_ceph_default_pool_size }}
          osd_pool_default_min_size = {{ storage_ceph_default_min_pool_size }}

          public_network = {{ network_ceph_public_ip | ansible.netcommon.ipaddr('network/prefix') }}
          cluster_network = {{ network_ceph_public_ip | ansible.netcommon.ipaddr('network/prefix') }}

    - name: Run cephadm bootstrap
      command: "cephadm bootstrap --config /etc/ceph/initial-ceph.conf --allow-overwrite --mon-ip {{ network_ceph_public_ip | ansible.netcommon.ipaddr('address') }} --skip-monitoring-stack"
      args:
        creates: /etc/ceph/ceph.client.admin.keyring
      register: cephadm_bootstrap

    - name: Get cephadm ssh public key
      command: ceph cephadm get-pub-key
      register: cephadm_pub_key
      changed_when: false

    - name: Add cephadm public key
      authorized_key:
        user: root
        key: "{{ cephadm_pub_key.stdout }}"
        manage_dir: no
      delegate_to: "{{ item }}"
      loop: "{{ groups['deployment_nodes'] }}"

    - name: Add hosts
      command: "ceph orch host add {{ item }} {{ item }} --labels _admin"
      loop: "{{ groups['deployment_nodes'] }}"

    - name: Apply mons placement
      command: "ceph orch apply mon --placement='{% for host in groups['deployment_nodes'] %}{{ host }},{% endfor %}'"

    - name: Add (other) mons
      command: "ceph orch daemon add mon {{ item }}"
      loop: "{{ groups['deployment_nodes'] }}"
      when: item != groups['deployment_nodes'][0]
      failed_when: false

    - pause:
        seconds: 10

    - name: Get ceph status output
      command: ceph status -f json-pretty
      register: ceph_status

    - name: Fail if not all mons added
      fail:
        msg: There are {{ (ceph_status.stdout | from_json).monmap.num_mons }} mons but expected number of mons is {{ groups['deployment_nodes'] | length }}
      when: (ceph_status.stdout | from_json).monmap.num_mons != groups['deployment_nodes'] | length
      
      # Note: This is supposed to happen automatically with _admin label
    - name: Generate new minimal ceph.conf
      command: ceph config generate-minimal-conf
      register: ceph_conf

    - name: Write new ceph.conf
      copy:
        content: "{{ ceph_conf.stdout }}\n"
        dest: /etc/ceph/ceph.conf
      loop: "{{ groups['deployment_nodes'] + groups['deployment_controller'] }}"
      delegate_to: "{{ item }}"

    - name: Get ceph admin keyring
      command: ceph auth get client.admin
      register: ceph_keyring

    - name: Write ceph admin keyring
      copy:
        content: "{{ ceph_keyring.stdout }}\n"
        dest: /etc/ceph/ceph.client.admin.keyring
      loop: "{{ groups['deployment_nodes'] + groups['deployment_controller'] }}"
      delegate_to: "{{ item }}"

    # run ceph-volume from mon containers
    - name: Zap osds
      shell: |
        set -e
        {% for device in storage_ceph_osd_devices -%}
          docker exec $(docker ps | grep ceph-.*-mon | awk '{print $1}') \
            bash -c "ceph-volume lvm zap {{ device }}"
        {% endfor %}
      delegate_to: "{{ item }}"
      loop: "{{ groups['deployment_nodes'] }}"
      when: cephadm_bootstrap.changed

    - name: Add osds
      shell: |
        set -e
        {% for device in storage_ceph_osd_devices -%}
          ceph orch daemon add osd {{ item }}:{{ device }}
        {% endfor %}
      loop: "{{ groups['deployment_nodes'] }}"

    - name: Create rgw config file
      copy:
        dest: /tmp/rgw.yml
        content: |
          service_type: rgw
          service_id: foo
          placement:
            label: _admin
            count_per_host: 1
          networks:
          - {{ network_ceph_public_ip | ansible.netcommon.ipaddr('network') }}/{{ network_ceph_public_ip | ansible.netcommon.ipaddr('prefix') }}
          spec:
            rgw_frontend_port: 6780

    - name: Add rgw
      command: ceph orch apply -i /tmp/rgw.yml

    - name: Enable ceph-exporter
      command: ceph mgr module enable prometheus

    - name: Add pools
      script: "{{ playbook_dir }}/../scripts/cephadm/pools.sh"
      args:
        creates: /root/cephadm_pools.done
      run_once: true

- name: Destroy cephadm cluster
  hosts: deployment_nodes[0]
  any_errors_fatal: true
  tags:
    - destroy
    - never
  tasks:
    - name: Destroy cephadm
      script: "{{ playbook_dir }}/../scripts/cephadm/destroy.sh"

- name: Destroy cephadm cluster
  hosts: deployment_nodes
  tags:
    - destroy
    - never
  tasks:
    - name: Disable ceph daemons
      shell:
        systemctl stop ceph*;
        systemctl disable ceph*;
        systemctl daemon-reload;
        rm -rf /etc/systemd/system/ceph*;
        rm -rf /etc/ceph;
        rm -rf /var/lib/ceph;
        rm -rf /var/log/ceph;
        docker rm -f $(docker ps -a | grep ceph | awk '{print $1}');
      failed_when: false
