---
# Prereqs:
# - Ensure passwordless ssh access
# - Configure interface with static ip
# - If not dev, configure devices

- name: Set up devices
  hosts: deployment_nodes
  any_errors_fatal: true
  tasks:
    - name: Ensure docker.io is not installed
      apt:
        name: docker.io
        state: absent
        purge: yes

    - name: Install prereqs
      apt:
        name:
          - dnsutils
          - net-tools
          - lvm2
          - openssh-server
          - bridge-utils
          - curl
          - ca-certificates
          - gnupg
          - lsb-release
          - net-tools
          - traceroute
          - vim
        update_cache: yes
        cache_valid_time: 3600

    - name: Download docker install script
      command: curl -fsSL https://get.docker.com -o /root/get-docker.sh
      args:
        creates: /root/get-docker.sh

    - name: Install docker
      command: sh /root/get-docker.sh
      args:
        creates: /usr/bin/docker

    - name: Overwrite docker source
      copy:
        dest: /etc/apt/sources.list.d/docker.list
        content: |
          deb https://download.docker.com/linux/ubuntu focal stable

    - name: Ensure docker apt key is imported
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg

    - name: Enable docker api over tcp
      shell: |
        mkdir -p /etc/systemd/system/docker.service.d
        cat > /etc/systemd/system/docker.service.d/override.conf <<EOF
        [Service]
        ExecStart=
        ExecStart=/usr/bin/dockerd -H fd:// -H tcp://0.0.0.0:2375 --containerd=/run/containerd/containerd.sock
        EOF
     args:
       creates: /etc/systemd/system/docker.service.d/override.conf

    - name: Enable docker service
      systemd:
        name: docker.service
        state: restarted
        enabled: yes
        daemon_reload: yes

    - name: Configure hostname
      hostname:
        name: "{{ inventory_hostname }}"

    - name: Configure hosts
      copy: 
        dest: /etc/hosts
        content: |
          127.0.0.1 localhost

          # openstack mgmt ips
          # {% for host in groups['deployment_nodes'] %}
          # {{ hostvars[host].openstack_mgmt_ip | ansible.netcommon.ipaddr('address') }} {{ host }}
          # {% endfor %}

    - name: Add netplan config file
      copy:
        dest: /etc/netplan/60-vlans.yaml
        content: |
          network:
            version: 2
            renderer: networkd
            vlans:
              # openstack management vlan
              openstack_mgmt:
                id: 10
                link: {{ default_gateway_interface }}
                addresses: [{{ openstack_mgmt_ip }}]
              # ceph public vlan
              ceph_public:
                id: 50
                link: {{ default_gateway_interface }}
                addresses: [{{ ceph_public_ip }}]
              # ceph cluster vlan
              ceph_cluster:
                id: 60
                link: {{ default_gateway_interface }}
                addresses: [{{ ceph_cluster_ip }}]
      register: netplan_config_1

    - name: Add netplan config file
      copy:
        dest: /etc/netplan/70-routes.yaml
        content: |
          network:
            version: 2
            renderer: networkd
            ethernets:
              {{ default_gateway_interface }}:
                routes:
                  - to: default
                    via: {{ gateway_ip }}
                  - to: {{ openstack_mgmt_ip | ansible.netcommon.ipaddr('network/prefix') }}
                    via: {{ ansible_host }}
                  - to: {{ ceph_public_ip | ansible.netcommon.ipaddr('network/prefix') }}
                    via: {{ ansible_host }}
                  - to: {{ ceph_cluster_ip | ansible.netcommon.ipaddr('network/prefix') }}
                    via: {{ ansible_host }}
      register: netplan_config_2

    - name: netplan apply
      command: netplan apply
      when: netplan_config_1.changed or netplan_config_2.changed

    - name: Stop and disable NetworkManager
      systemd:
        name: NetworkManager.service
        state: stopped
        enabled: no
      failed_when: false

    - sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: Run script to setup veth pair
      script: "{{ playbook_dir }}/../scripts/devices/veth_pair.sh"

    - name: Create cni directory for Zun
      command: mkdir -p /opt/cni/bin/

    - name: Run internet connectivity script
      script: "{{ playbook_dir }}/../scripts/devices/revive_internet.sh {{ default_gateway_interface }}"

    - name: Configure loop devices
      script: "{{ playbook_dir }}/../scripts/devices/loop.sh"
      args:
        creates: /root/loop_devices.done
      when: dev

- name: Remove internet connectivity script and destroy loop devices
  hosts: deployment_nodes
  any_errors_fatal: true
  tags:
    - destroy
    - never
  tasks:
    - name: Destroy devices
      script: "{{ playbook_dir }}/../scripts/devices/destroy.sh"
      when: dev
