---
- name: Harden nodes
  hosts: deployment_nodes
  any_errors_fatal: true
  tasks:
    - name: Install apt packages
      apt:
        name:
          - libopenscap8
          - bzip2
          - fail2ban
          - clamav
          - clamav-daemon
        update_cache: yes

    - name: Correct any apt package issues
      command: dpkg --configure -a

    - name: Copy hardening folder
      copy:
        src: "{{ playbook_dir }}/../scripts/hardening"
        dest: /opt/
        mode: preserve

    - name: Find hardening files
      find:
        paths: /opt/hardening
      register: find_in_path

    - name: Set fact for hardening files
      set_fact:
        hardening_files: "{{ (hardening_files | default([])) + [ item.path ] }}"
      loop: "{{ find_in_path.files }}"

    - name: Generate rc.local files with all hardening scripts
      copy:
        dest: /etc/rc.local
        mode: 0755
        content: |
          #!/bin/bash

          set -xe

          export OPENSTACK_MGMT_NET={{ network_openstack_mgmt_ip | ansible.netcommon.ipaddr('network/prefix') }}
          export CEPH_PUBLIC_NET={{ network_ceph_public_ip | ansible.netcommon.ipaddr('network/prefix') }}
          export CEPH_CLUSTER_NET={{ network_ceph_cluster_ip | ansible.netcommon.ipaddr('network/prefix') }}
          export NETWORK_PROVIDER_NET={{ network_provider_gateway_ip | ansible.netcommon.ipaddr('network/prefix') }}
          export NODE_MGMT_NET={{ network_primary_gateway_ip | ansible.netcommon.ipaddr('network/prefix') }}
          
          # node hardening
          {% for file in hardening_files %}
          {{ file }}
          {% endfor %}

    - name: Systemd Daemon reload
      systemd:
        daemon_reload: yes

    # running as shell command because with systemd we get some "D-Bus terminated - connection reset by peer" issue
    # Might have to do with the vulnerability scanning?
    - name: Start rc-local service
      shell: systemctl start rc-local
      async: 300  # 5 minutes
      poll: 0
      register: start_rclocal

    - name: Wait until rc-local service is active
      command: systemctl is-active rc-local
      register: rc_local_is_active
      until: rc_local_is_active.stdout == 'active'
      retries: 30
      delay: 10

    - name: Clean up async file
      ansible.builtin.async_status:
        jid: '{{ start_rclocal.ansible_job_id }}'
        mode: cleanup
