---
- name: Setup octavia
  hosts: deployment_controller
  any_errors_fatal: true
  tasks:
    - name: Setup Octavia
      shell: |
        #!/bin/bash

        set -xe

        # source venv
        cd workspace
        source kolla-venv/bin/activate

        CONFIG_DIR=$(pwd)/etc/kolla

        image=octavia-amphora-haproxy-{{ openstack_release }}

        rm -f $image.qcow2.CHECKSUM*
        wget https://swift.services.a.regiocloud.tech/swift/v1/AUTH_b182637428444b9aa302bb8d5a5a418c/openstack-octavia-amphora-image/$image.qcow2.CHECKSUM

        ls $image.qcow2 && test "$(sha256sum $image.qcow2)" == "$(cat $image.qcow2.CHECKSUM)" && echo image downloaded || wget https://swift.services.a.regiocloud.tech/swift/v1/AUTH_b182637428444b9aa302bb8d5a5a418c/openstack-octavia-amphora-image/$image.qcow2

        # source admin rc
        . $CONFIG_DIR/admin-openrc.sh

        apt install -y qemu-utils

        qemu-img convert $image.qcow2 $image.raw

        openstack image list -f value | grep -i amphora || openstack image create $image \
          --progress \
          --container-format bare \
          --disk-format raw \
          --private \
          --tag amphora \
          --file $image.raw \
          --property hw_architecture='x86_64' \
          --property hw_rng_model=virtio \
          --project service

        rm -f $image.qcow2 $image.raw

        lb_mgmt_router_external_gatway_ip={{ openstack_octavia_mgmt_router_external_gateway_ip }}

        # set gateway on octavia management network
        openstack subnet set --gateway 10.1.0.1 lb-mgmt-subnet

        # create router and to make it reachable from octavia worker
        openstack router show lb-mgmt-router || (openstack router create lb-mgmt-router && openstack router add subnet lb-mgmt-router lb-mgmt-subnet)
        openstack router set --disable-snat --external-gateway public1 --fixed-ip subnet=public1-subnet,ip-address=$lb_mgmt_router_external_gatway_ip lb-mgmt-router
        
      args:
        chdir: "{{ playbook_dir }}/.."
        executable: /bin/bash

- name: Setup octavia routes
  hosts: deployment_nodes
  any_errors_fatal: true
  tasks:
    - name: Setup Octavia
      shell: |
        service=octavia-mgmt-route.service
        unit_file=/etc/systemd/system/$service

        test -e $unit_file || cat > $unit_file << EOF
        [Unit]
        Description=Add static route for octavia mgmt network
        After=network.target

        [Service]
        Type=oneshot
        ExecStart=/bin/bash -c 'ip r | grep -q ^10.1.0.0/24 || ip r add 10.1.0.0/24 via {{ openstack_octavia_mgmt_router_external_gateway_ip }}'

        [Install]
        WantedBy=default.target
        EOF

        systemctl daemon-reload
        systemctl enable $service
        systemctl start $service
        