---
- name: Set up devices
  hosts: deployment_nodes
  gather_facts: false
  tasks:
    - name: Set images fact
      set_fact:
        images:
          - image: quay.io/openstack.kolla/nova-novncproxy:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              sed -i "123i\ \ \ \ \ \ \ \ expected_protos.append('https')" /var/lib/kolla/venv/lib/python3.10/site-packages/nova/console/websocketproxy.py
          - image: quay.io/openstack.kolla/horizon:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              apt update
              apt-get -y install python3-dev default-libmysqlclient-dev build-essential pkg-config
              . /var/lib/kolla/venv/bin/activate
              pip install mysqlclient
 #         - image: quay.io/openstack.kolla/freezer-scheduler:{{ openstack_release }}-ubuntu-jammy
 #           custom_cmds: |
 #             mkdir -p /etc/freezer/scheduler
 #             chown freezer:freezer /etc/freezer/scheduler
          - image: quay.io/openstack.kolla/cloudkitty-processor:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              cat > /etc/cloudkitty/metrics.yml <<EOF
              metrics:
                cpu:
                  unit: instance
                  alt_name: instance
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - flavor_name
                    - flavor_id
                    - vcpus
                  mutate: NUMBOOL
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance
                    force_granularity: 300
              
                image.size:
                  unit: MiB
                  factor: 1/1048576
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - container_format
                    - disk_format
                  extra_args:
                    aggregation_method: mean
                    resource_type: image
                    force_granularity: 300
              
                volume.size:
                  unit: GiB
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - volume_type
                  extra_args:
                    aggregation_method: mean
                    resource_type: volume
                    force_granularity: 300
              
                network.outgoing.bytes.rate:
                  unit: MB
                  groupby:
                    - id
                    - project_id
                    - user_id
                  # Converting B/s to MB/h
                  factor: 3600/1000000
                  metadata:
                    - instance_id
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance_network_interface
              
                network.incoming.bytes.rate:
                  unit: MB
                  groupby:
                    - id
                    - project_id
                    - user_id
                  # Converting B/s to MB/h
                  factor: 3600/1000000
                  metadata:
                    - instance_id
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance_network_interface
              
                ip.floating:
                  unit: ip
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - state
                  mutate: NUMBOOL
                  extra_args:
                    aggregation_method: mean
                    resource_type: network
              
                radosgw.objects.size:
                  unit: GiB
                  groupby:
                    - id
                    - user_id
                    - project_id
                  factor: 1/1073741824
                  extra_args:
                    aggregation_method: mean
                    resource_type: ceph_account
              EOF
          - image: quay.io/openstack.kolla/magnum-api:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              pip uninstall -y magnum-cluster-api
          - image: quay.io/openstack.kolla/magnum-conductor:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              sed -i 's/\[Service\]/StartLimitIntervalSec=500\nStartLimitBurst=5\n[Service]\nRestart=on-failure\nRestartSec=5s/g' \
              /var/lib/kolla/venv/lib/python3.10/site-packages/magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
              pip uninstall -y magnum-cluster-api

    - name: Pull images
      shell: |
        set -xe
        docker inspect {{ item.image }} >/dev/null  || docker pull {{ item.image }}
      register: docker_pull
      changed_when: ("Downloaded newer image" in docker_pull.stdout)
      loop: "{{ images }}"

    - name: Customize images
      shell: |
        set -xe
        docker rm -f tmp_build 2>/dev/null || true
        docker run -it -d --network host -u root --name tmp_build {{ item.item.image }} bash
        docker exec tmp_build bash -c "set -xe; (ls customize.done && touch do_not_commit) || ( {{ item.item.custom_cmds }} ) && touch customize.done" || (docker rm -f tmp_build; exit 1)
        docker exec tmp_build ls do_not_commit || docker commit -c 'ENTRYPOINT ["dumb-init", "--"]' -c 'CMD ["kolla_start"]' tmp_build {{ item.item.image }}
      loop: "{{ docker_pull.results }}"
      register: customize_images
      changed_when: '"docker commit" in customize_images.stderr'
      when:
        - item.item.custom_cmds is defined
        - item.item.custom_cmds | length > 0
         
    # Doesn't work part of shell above..
    - name: Delete tmp build 
      shell: |
        docker rm -f tmp_build
      failed_when: false
      changed_when: false
      
