---
- name: Set up devices
  hosts: deployment_nodes
  gather_facts: false
  tasks:
    - name: Set images fact
      set_fact:
        images:
          - image: quay.io/openstack.kolla/horizon:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              apt update
              apt-get -y install python3-dev default-libmysqlclient-dev build-essential pkg-config
              . /var/lib/kolla/venv/bin/activate
              pip install mysqlclient
          - image: quay.io/openstack.kolla/neutron-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/neutron-metadata-agent:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ceilometer-compute:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ceilometer-notification:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-backend-bind9:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/zun-compute:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ceilometer-central:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-worker:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-sink:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/zun-cni-daemon:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/freezer-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-producer:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-mdns:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/designate-central:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/freezer-scheduler:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              mkdir -p /etc/freezer/scheduler
              chown freezer:freezer /etc/freezer/scheduler
          - image: quay.io/openstack.kolla/zun-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/zun-wsproxy:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/kuryr-libnetwork:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/murano-engine:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/murano-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/cloudkitty-processor:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              cat > /etc/cloudkitty/metrics.yml <<EOF
              metrics:
                cpu:
                  unit: instance
                  alt_name: instance
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - flavor_name
                    - flavor_id
                    - vcpus
                  mutate: NUMBOOL
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance
                    force_granularity: 300
              
                image.size:
                  unit: MiB
                  factor: 1/1048576
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - container_format
                    - disk_format
                  extra_args:
                    aggregation_method: mean
                    resource_type: image
                    force_granularity: 300
              
                volume.size:
                  unit: GiB
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - volume_type
                  extra_args:
                    aggregation_method: mean
                    resource_type: volume
                    force_granularity: 300
              
                network.outgoing.bytes.rate:
                  unit: MB
                  groupby:
                    - id
                    - project_id
                    - user_id
                  # Converting B/s to MB/h
                  factor: 3600/1000000
                  metadata:
                    - instance_id
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance_network_interface
              
                network.incoming.bytes.rate:
                  unit: MB
                  groupby:
                    - id
                    - project_id
                    - user_id
                  # Converting B/s to MB/h
                  factor: 3600/1000000
                  metadata:
                    - instance_id
                  extra_args:
                    aggregation_method: mean
                    resource_type: instance_network_interface
              
                ip.floating:
                  unit: ip
                  groupby:
                    - id
                    - user_id
                    - project_id
                  metadata:
                    - state
                  mutate: NUMBOOL
                  extra_args:
                    aggregation_method: mean
                    resource_type: network
              
                radosgw.objects.size:
                  unit: GiB
                  groupby:
                    - id
                    - user_id
                    - project_id
                  factor: 1/1073741824
                  extra_args:
                    aggregation_method: mean
                    resource_type: ceph_account
              EOF
          - image: quay.io/openstack.kolla/cloudkitty-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/manila-share:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/venus-manager:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/venus-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/octavia-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/octavia-driver-agent:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/manila-data:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/manila-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/manila-scheduler:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/octavia-housekeeping:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/octavia-worker:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/octavia-health-manager:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/barbican-keystone-listener:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/barbican-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/barbican-worker:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/trove-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/trove-taskmanager:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/skyline-console:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/trove-conductor:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/aodh-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/aodh-notifier:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/aodh-evaluator:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/aodh-listener:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/heat-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/heat-api-cfn:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/heat-engine:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/senlin-conductor:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/senlin-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/senlin-health-manager:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/senlin-engine:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/skyline-apiserver:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/watcher-applier:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/watcher-engine:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/watcher-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/magnum-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/magnum-conductor:{{ openstack_release }}-ubuntu-jammy
            custom_cmds: |
              sed -i 's/\[Service\]/StartLimitIntervalSec=500\nStartLimitBurst=5\n[Service]\nRestart=on-failure\nRestartSec=5s/g' \
              /var/lib/kolla/venv/lib/python3.10/site-packages/magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
          - image: quay.io/openstack.kolla/prometheus-libvirt-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/kolla-toolbox:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/mariadb-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ovn-sb-db-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ovn-controller:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ovn-northd:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/ovn-nb-db-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/mariadb-clustercheck:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/openvswitch-db-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-cadvisor:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-mysqld-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/openvswitch-vswitchd:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-openstack-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-v2-server:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-haproxy-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-blackbox-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-memcached-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-node-exporter:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/prometheus-alertmanager:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/fluentd:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/influxdb:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/haproxy:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/rabbitmq:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/memcached:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/keepalived:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/cron:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/glance-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-compute:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/cinder-volume:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/cinder-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/cinder-scheduler:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-novncproxy:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/placement-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-conductor:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-ssh:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-scheduler:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/keystone-ssh:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/keystone-fernet:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/keystone:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/nova-libvirt:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/gnocchi-api:{{ openstack_release }}-ubuntu-jammy
          - image: quay.io/openstack.kolla/gnocchi-metricd:{{ openstack_release }}-ubuntu-jammy


    - name: Pull latest ubuntu image as reference
      command: docker pull ubuntu:latest
      register: docker_pull
      changed_when: ("Image is up to date" not in docker_pull.stdout)

    # pull images only if doesn't exist or older than ubuntu:latest
    - name: Pull images
      shell: |
        set -xe
        docker inspect {{ item.image }} 2>/dev/null 1>&2 || docker pull {{ item.image }}
        test -z $(docker images {{ item.image }} --filter since=ubuntu:latest --format {% raw %}"{{ .ID }}"{% endraw %}) && docker pull {{ item.image }} || exit 0
      register: docker_pull
      changed_when: ("Downloaded newer image" in docker_pull.stdout)
      loop: "{{ images }}"

    - name: Customize images
      shell: |
        set -xe
        docker rm -f tmp_build || true
        docker run --network host -u root --name tmp_build {{ item.item.image }} bash -c "set -xe; {{ item.item.custom_cmds }}" || (docker rm -f tmp_build; exit 1)
        docker commit -c 'ENTRYPOINT ["dumb-init", "--"]' -c 'CMD ["kolla_start"]' tmp_build {{ item.item.image }}
        sleep 1
        docker rm -f tmp_buld || true
      loop: "{{ docker_pull.results }}"
      when:
        - item.item.custom_cmds is defined
        - item.item.custom_cmds | length > 0
        - item.changed
 
