---
all:

  # hosts and hostvars and all shared vars
  hosts:
  
    deploy01:
      ansible_host: "{{ lookup('ansible.builtin.pipe', 'hostname -I | cut -d \" \" -f 1') }}"
      ansible_connection: local
    hyper01:
      ansible_host: hyper01
      inventory_index: 1
    hyper02:
      ansible_host: hyper02
      inventory_index: 2

  vars:
        
    network_create_veth_pair: no
    network_veth_pair_gateway: ""  # used only if the above is true
    network_add_routes_to_deployment_controller: true
    network_masquerade_vlans: true

    network_primary_gateway_ip: 192.168.121.1/24
    network_primary_interface: eth0

    last_ip_octet: "{{ inventory_index + 10 }}"
    network_openstack_mgmt_ip: "10.0.10.{{ last_ip_octet }}/24"
    network_ceph_public_ip: "10.0.50.{{ last_ip_octet }}/24"
    network_ceph_cluster_ip: "10.0.60.{{ last_ip_octet }}/24"

    network_provider_gateway_ip: 10.0.80.1/24
    network_provider_gateway_interface: eth1
    network_provider_ip: "10.0.80.{{ last_ip_octet }}/24"

    network_netplan_overrides_file:
      network:
        version: 2
        renderer: networkd
        vlans:
          # openstack management vlan
          openstack_mgmt:
            id: 10
            link: "{{ network_primary_interface }}"
            addresses: 
              - "{{ network_openstack_mgmt_ip }}"
          # ceph public vlan
          ceph_public:
            id: 50
            link: "{{ network_primary_interface }}"
            addresses:
              - "{{ network_ceph_public_ip }}"
          # ceph cluster vlan
          ceph_cluster:
            id: 60
            link: "{{ network_primary_interface }}"
            addresses:
              - "{{ network_ceph_cluster_ip }}"
          # # neutron external vlan
          # neutron_ext:
          #   id: 80
          #   link: "{{ network_primary_interface }}"
          #   addresses:
          #     - "{{ network_provider_ip }}"
  
    storage_create_loop_devices: true
    storage_loop_device_size_gb: 40
    storage_ceph_osd_devices:
      - /dev/vg-0/lv-0
      - /dev/vg-1/lv-1
      - /dev/vg-2/lv-2
    storage_ceph_default_pool_size: 1
    storage_ceph_default_min_pool_size: "{{ storage_ceph_default_pool_size }}"
    
    openstack_release: 2024.1
    openstack_network_interface: openstack_mgmt
    openstack_neutron_external_interface: "{{ network_provider_gateway_interface }}"
    openstack_kolla_internal_vip_address: 10.0.10.100
    openstack_designate_forwarders_first_address: 8.8.8.8
    openstack_designate_forwarders_second_address: 8.8.4.4
    openstack_ceph_rgw_hosts: >-
      [{% for node in groups['deployment_nodes'] %}
        { 'host': '{{ node }}', 'ip': '{{ hostvars[node].network_ceph_public_ip | ansible.netcommon.ipaddr('address') }}', 'port': '6780' }
      {% if not loop.last %},{% endif %}{% endfor %}]
    openstack_worker_count: 1

    openstack_public_network:
      cidr: 10.0.80.0/24
      gateway_ip: 10.0.80.1
      allocation_start: 10.0.80.100
      allocation_end: 10.0.80.200

    openstack_amphora_subnet_cidr: 10.1.0.0/24
    openstack_amphora_router_gateway_ip:  10.1.0.1
    openstack_octavia_mgmt_router_external_gateway_ip: 10.0.80.3  # should be outside dhcp range?

  # groups and group vars
  children:
    deployment_controller:
      hosts:
        deploy01:
    deployment_nodes:
      hosts:
        hyper01:
        hyper02:
